body{
    font-family: 'Noto serif', serif;
    margin: 0 10px;
}
header{
    width: 100%;
    height: 150px;
    background: linear-gradient(rgb(60, 160, 0), rgb(160, 215, 120), rgb(60, 160, 0));
    margin-bottom: 30px;
}
h1{
    font-size: 48px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.about{
    margin-bottom: 40px;
}
.about h2{
    font-size: 48px;
    margin-bottom: 30px;
}
.responsibilities{
    margin-bottom: 10px;
}
.responsibilities h3{
    font-size: 36px;
    margin-bottom: 15px;
}
.form{
    text-align: center;
}
.container{
}
.form p{
    text-align: left;
    margin-bottom: 3px;
}
.name-input{
    width: 100%;
    border-radius: 5px;
    border: solid grey;
}
.name-input::placeholder{
    padding: 5px;
}
.contacts-input{
    width: 1870px;
    border-radius: 5px;
    border: solid grey;
}
.contacts-input::placeholder{
    padding: 5px;
}
.contacts-p{
    margin: 0 15px;
}
.form-button{
    background-color: limegreen;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 1870px;
    height: 50px;
    margin: 15px;
}
hr {
    color: darkred;
    border: 1px dashed;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    margin-bottom: 30px;

}
@media (min-width:1300px){.container{max-width: 100%}}